@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.background {
  background-image: url("../public/poza_fundal.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: auto;
  background-attachment: fixed;
}


.divConversatie {
  /* flex-direction: column;  */
  /* display: flex; */
  padding-left: 20%;
  padding-right: 20%;
  max-height: 250px; 
  /* overflow-y: auto; */
  overflow-y: scroll;
}

.divConversatie::-webkit-scrollbar {
  display: none; 
}

.parteaDeJos{
  padding-left: 20%;
  padding-right: 20%;
}

.marginDreaptaCovAi{
  align-self: flex-end; 
  padding: 10px;

}
.marginStangaCovAi{
  align-self: flex-start; 
  padding: 10px;

}
.divSus{
  margin-bottom: 20px;
}

/*  */

.fullPageChat{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbarChat{
  height: 10%;
}

.divDouaChaturi{
  flex-grow: 1; /* Crește pentru a ocupa spațiul disponibil */
  display: flex;
  
  width: 100%;
  height: 100px; /* Înălțimea divului principal */
  /* border: 1px solid black; */
}
.divStanga, .divDreapta {
  flex: 1; /* Aceste divuri vor ocupa spațiul disponibil */
  height: 100%; /* Aceleași înălțimi cu divul principal */
}
.linie {
  width: 1px; /* Lățimea liniei */
  height: 100%;
  background-color: black; /* Culoarea liniei */
}